@{
    ViewBag.Title = "Monthly Attendance Detail";
}
@Scripts.Render("~/bundles/datagrid")
@Scripts.Render("~/bundles/Utility")
@Styles.Render("~/Content/datetimepicker")
@Scripts.Render("~/bundles/datetimepicker")


<h2>Monthly Attendance (Detailed) Report</h2>

<script>
    var rpthtml = "";
    $(document).ready(function () {
        $("#divmsg").hide();
        $("#rptgenerate").click(function () {
            var url = fullhost + "/Reports/GetMonthlyAttendanceDetailData?month=" + $("#srcdate").val().substring(0, 2) + "&year=" + $("#srcdate").val().substring(3, 7);
            GetURLasString_callback(url, loadreport);
            $("#divmsg").show();
            $("#datagrid1").html("");
            var exlurl = fullhost + "/Reports/GetMonthlyAttendanceDetailDataExport?month=" + $("#srcdate").val().substring(0, 2) + "&year=" + $("#srcdate").val().substring(3, 7) + "&reportname=Monthy Attendance Detail Report&reporttype=EXCEL";
            var pdfurl = fullhost + "/Reports/GetMonthlyAttendanceDetailDataExport?month=" + $("#srcdate").val().substring(0, 2) + "&year=" + $("#srcdate").val().substring(3, 7) + "&reportname=Monthy Attendance Detail Report&reporttype=PDF";
            $('#lnkexcel').attr("href", exlurl)
            $('#lnkpdf').attr("href", pdfurl)

            ////var url = "/Reports/GetAttendanceSingleDay?srcdate=" + $("#srcdate").val() + "&trgdate=" + $("#trgdate").val();
            //var url = "/Reports/GetAttendanceSingleDay?srcdate=" + $("#srcdate").val() + "&trgdate=" + $("#srcdate").val();
            //result = GetURLasString(url);
            //$("#headingdate").html(" (" + $("#srcdate").val() + ")");
            //$("#datagrid1").html(result);
            //rpthtml = $("#datagrid1").html();
            ////$("#datagrid1").dataTable();
            //$("#datagrid1").show();
        });
        function loadreport(result) {
            $("#datagrid1").html(result);
            rpthtml = $("#datagrid1").html();
            //$("#datagrid1").dataTable();
            $("#datagrid1").show();
            $("#divmsg").hide();
        }
    });
</script>

<table>
    <tr>
        <td>
            Select date : &nbsp;
        </td>
        <td>
            <input type="text" id="srcdate" class="form-control" />
        </td>
        <td>
            &nbsp;&nbsp;
            <button id="rptgenerate" class="btn btn-default">Get Report</button>
            &nbsp;
        </td>
        <td>
            <a href="#" id="lnkexcel" class="btn btn-info" target="_blank">Export Excel</a>
            <a href="#" id="lnkpdf" class="btn btn-info" target="_blank">Export PDF</a>
        </td>
    </tr>
</table>
<script type="text/javascript">
    $(function () {
        $('#srcdate').datetimepicker({
            pickTime: false,
            viewMode: 'years',
            format: 'MM-YYYY'
        });

    });
</script>
<br />
<div id="divmsg" class="alert alert-info">
    Loading.. Please Wait...
</div>
<table id="datagrid1" class="table table-striped" border="1" cellspacing="0"></table>