@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Dr.V.S.I. Estate<br />
    Thirvanmiyur, Chennai<br />
    <abbr title="Phone">P:</abbr>
    22412811
</address>

<address>
    <strong>Support:</strong>   <a href="#">Support@electronindia.com</a><br />
    <strong>Software:</strong> <a href="#">software@electronindia.com</a>
</address>